html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* remember to define focus styles! */
:focus {
  outline: 0; }

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/*********** END OF CSS RESETER ******************/
body {
  font-family: Verdana, Tahoma, Geneva, sans-serif;
  font-size: 100%;
  line-height: 1.6em;
  color: #222222;
  text-align: center;
}

h1 {
  font-family: "Lobster",georgia, sans-serif;
  font-size: 3em;
  margin-top: 2em;
  margin-bottom: 1em;
}

h2 {
    margin-bottom: 2em;
}

header {
  margin-top: 3em;
  margin-bottom: 1em;
  display: block;
}

#container {
  width: 50em;
  max-width: 90%;
  margin: 0 auto;
}

#default-content a, #default-content a:visited, #default-content a:hover {
    color: #669966;
}

#token-placeholder {
    margin-top: 2em;
    margin-bottom: 2em;
    background-color: #669966;
    padding: 1em;
    border-radius: 0.5em;
}

#setup-content .lolcatz {
    font-size: 1.2em;
}

.big-text {
    font-size: 1.5em;
}

.hidden {
    display: none;
}
